<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ page_title }}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__content">
                <a class="header__logo" href="/">FSLAYERS</a>
                
                <button class="header__burger" aria-label="Меню">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                
                <nav class="header__nav">
                    <ul class="nav__list">
                        {% if user.is_authenticated %} 
                            <li class="nav__item"><a class="nav__link" href="/">Сообщения</a></li>
                            <li class="nav__item"><a class="nav__link" href="">Личный кабинет</a></li>
                            <li class="nav__item">
                                <form action="{% url 'logout' %}" method="post" class="nav__form">
                                    {% csrf_token %}
                                    <button type="submit" class="nav__logout">Выйти</button>
                                </form>
                            </li>
                        {% else %}
                            <li class="nav__item"><a class="nav__link" href="{% url 'login' %}">Вход</a></li>
                            <li class="nav__item"><a class="nav__link" href="{% url 'signup' %}">Регистрация</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="main">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>