{% extends "base.html" %}

{% block title %}FSLAYERS | Вход{% endblock %}

{% block content %}
<main class="main">
    <div class="main__container">
        <section class="auth-section">
            <h1 class="auth-section__title">Вход в аккаунт</h1>
            <form class="auth-form" action="#" method="POST">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="auth__errors">
                        {% for error in form.non_field_errors %}
                        <p class="auth__error">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="auth-form__group">
                    <label for="{{ form.username.id_for_label }}" class="auth-form__label">Имя пользователя</label>
                    <input type="text" id="{{ form.username.id_for_label }}" name="{{ form.username.name }}" class="auth-form__input" required>
                    {% if form.username.errors %}
                    <div class="auth__field-errors">
                        {% for error in form.username.errors %}
                        <p class="auth__field-error">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="auth-form__group">
                    <label for="{{ form.password.id_for_label }}" class="auth-form__label">Пароль</label>
                    <input type="password" id="{{ form.password.id_for_label }}" name="{{ form.password.name }}" class="auth-form__input" required>
                    {% if form.password.errors %}
                    <div class="auth__field-errors">
                        {% for error in form.password.errors %}
                        <p class="auth__field-error">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <a href="#" class="auth-form__forgot">Забыли пароль?</a>
                </div>

                <button type="submit" class="auth-form__button">Войти</button>
                <p class="auth-form__text">Ещё нет аккаунта? <a href="{% url 'signup' %}" class="auth-form__link">Зарегистрируйтесь</a></p>
            </form>
        </section>
    </div>
</main>
{% endblock %}