{% extends "base.html" %}
{% load static %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
<section class="password-change-section">
    <div class="password-change__container main__container">
        <h1 class="password-change__title">Смена пароля</h1>
        <div class="password-change__tabs">
            <a href="{% url 'profiles:edit_profile' request.user.id %}" class="password-change__tab">Основная информация</a>
            <a href="{% url 'profiles:change_password' request.user.id %}" class="password-change__tab active">Смена пароля</a>
        </div>
        <form method="post" class="password-change__form">
            {% csrf_token %}
            {% for field in form %}
                <div class="password-change__form-group">
                    <label for="{{ field.id_for_label }}" class="password-change__form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="password-change__form-error">{{ field.errors.0 }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="password-change__form-actions">
                <button type="submit" class="password-change__form-submit">Изменить пароль</button>
                <a href="{% url 'profiles:profile' %}" class="password-change__form-cancel">Отмена</a>
            </div>
        </form>
    </div>
</section>
{% endblock %}